<div class="card shadow p-5 container mt-lg-5" *ngIf="employee">
  <div class="col text-right">
    <a routerLink="/" class="btn btn-warning">Back</a>
  </div>
  <h2>{{employee.firstName | titlecase}} {{employee.lastName | titlecase}}</h2>
  <div class="row">
    <div class="col-sm-6">
      <img src="assets/img/brand/favicon.png" alt="img" >
      <h4>Username</h4>
      <p class="mt-2">{{employee.username}}</p>
      <h4>Email</h4>
      <p>{{employee.email}}</p>
      <h4>Birthday</h4>
      <p>{{employee.birthDate}}</p>
    </div>
    <div class="col-sm-6">
      <h4>Basic Salary</h4>
      <p >Rp.{{employee.basicSalary}}</p>
      <h4>Status</h4>
      <p>{{employee.status}}</p>
      <h4>Group</h4>
      <p>{{employee.group}}</p>
      <h4>Description</h4>
      <p>{{employee.description}}</p>
    </div>
  </div>
</div>
