<div class="main-content">
  <!-- Header -->
  <div class="header bg-gradient-primary py-7 py-lg-8">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <h1 class="text-white">Welcome!</h1>
            <p class="text-lead text-light">Use these awesome forms to login or create new account in your project for free.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary shadow border-0">
          <div class="card-header bg-transparent pb-5">
            <div class="text-muted text-center mt-2 mb-3"><small>Sign in with</small></div>
            <div class="btn-wrapper text-center">
              <a href="#" class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon"><img src="../assets/img/icons/common/github.svg"></span>
                <span class="btn-inner--text">Github</span>
              </a>
              <a href="#" class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon"><img src="../assets/img/icons/common/google.svg"></span>
                <span class="btn-inner--text">Google</span>
              </a>
            </div>
          </div>
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <small>Or sign in with credentials</small>
            </div>

            <!--form login-->
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>

                  <!-- Input Email -->
                  <input class="form-control {{ isFieldValid(field.EMAIL) }}" placeholder="Email" type="email" formControlName="email">
                </div>
                <!-- Validation -->
                <app-validation-message
                  [control]="loginForm.get(field.EMAIL)"
                  [field]="field.EMAIL"
                ></app-validation-message>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>

                  <!-- Input password -->
                  <input class="form-control {{ isFieldValid(field.PASSWORD) }}" placeholder="Password" [type]="showPassword ? 'text' : 'password'" formControlName="password">
                </div>
                <!--password validation-->
                <app-validation-message
                  [control]="loginForm.get(field.PASSWORD)"
                  [field]="field.PASSWORD"
                ></app-validation-message>
                <!--check box show password-->
                <div class="mb-3 mt-2 form-check">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="exampleCheck1"
                    (click)="onShowPassword()"
                  />
                  <label class="form-check-label" for="exampleCheck1"
                  >{{ showPassword ? "Hide" : "Show" }} Password</label
                  >
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary my-4" [disabled]="!loginForm.valid">Sign in</button>
              </div>
            </form>
            <!-- end form login-->

          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
